<?xml version="1.0" encoding="utf-8"?>
<rss
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
	xmlns:itunesu="http://www.itunesu.com/feed"
	version="2.0">
	<channel>
		<title>{{ meta.rsstitle }}</title>
		<link>{{ base_url }}</link>
		<description>{{ meta.rsssummary }}</description>
		<language>eo</language>
		<lastBuildDate>{{ "now"|date("D, d M Y H:i:s O") }}</lastBuildDate>
		<atom:link href="{{ base_url }}/{{ current_page.id }}" rel="self" type="application/rss+xml" />

		<image>
			<title>{{ site_title }}</title>
			<url>{{ theme_url }}/favicon.png</url>
			<link>{{ base_url }}</link>
		</image>

		<itunes:subtitle>{{ meta.rsssubtitle }}</itunes:subtitle>
		<itunes:author>{{ meta.rssauthor }}</itunes:author>
		<itunes:summary>{{ meta.rsssummary }}</itunes:summary>
		<itunes:owner>
			<itunes:name>{{ meta.rssauthor }}</itunes:name>
			<itunes:email>saluton@up-esperas.org</itunes:email>
		</itunes:owner>
		<itunes:explicit>no</itunes:explicit>
		<itunes:image href="{{ theme_url }}/favicon.png" />

		<itunes:category text="Languages" />
		<itunes:category text="Other Languages" />
		{% for page in pages %}
			{% if page.date %}

		<item>
			<title>{{ page.title }}</title>
			<description>
				<![CDATA[			
					{{ page.description }}
				]]>
			</description>
			<link>{{ page.url }}</link>
			<pubDate>{{ page.date|date("D, d M Y H:i:s O") }}</pubDate>
			<guid>{{ page.url }}</guid>

			<enclosure url="{{ base_url }}/assets{{ page.meta.podcasturl }}" type="audio/mpeg" length="1024" />

			<itunes:summary>{{ page.description }}</itunes:summary>
			<itunes:author>{{ meta.rssauthor }}</itunes:author>
			<itunes:image href="{{ base_url }}/assets{{ page.meta.thumburl }}" />
			<itunes:duration>{{ page.meta.podcastduration }}</itunes:duration>
			<itunes:explicit>no</itunes:explicit>

			<itunesu:category itunesu:code="106120" />
		</item>
			{% endif %}
		{% endfor %}

	</channel>
</rss>
