{% embed "index.twig" %}
    {% block main_content %}

        <article>
            <h1>{{ current_page.meta.title }}</h1>

            {% if current_page.date %}

            <span class="article-subinfo">
                Published on {{ current_page.date }}
            </span>
            {% endif %}

            <p>
                <a class="button tag-button" href="{{ base_url }}/{{ current_page.id | split("/")[0] }}">{{ current_page.id | split("/")[0] | sistemo_to_hats }}</a>

            {% if current_page.meta.tags %}
                {% for tag in current_page.meta.tags|apply_tag_filter %}
                    <a class="button tag-button" href="{{ base_url }}/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            {% endif %}
            </p>

            <hr>

            {{ content }}
        </article>
    {% endblock %}
{% endembed %}