{% embed "index.twig" %}
    {% block main_content %}
        <h1>Mabuhay!</h1>
        <p>
            Welcome to <i>La Filipina Espero</i>! The official web log of UP Esperanto-Societo. You can read write-ups about the org and of our members here.
        </p>

        <h2>Plej Freŝaj Novaĵoj</h2>
        <div class="flex one three-1000">
        {% set preview_pages = pages | sort_by("id") | reverse %}
        {% set n_pages_shown = 0 %}

        {% for page in preview_pages %}
            {% if n_pages_shown < 8 and page.meta.template == "blog-entry" and not page.hidden and page.id != current_page.id %}
                <div>
                    <article class="card">
                    {% if page.meta.ThumbUrl %}
                        <a href={{ page.url }}>
                            <img alt="{{ page.title }}" src="{{ base_url }}/assets{{ page.meta.ThumbUrl }}">
                        </a>
                    {% endif %}

                        <header>
                            <a href={{ page.url }}><h3>{{ page.title }}</h3></a>
                        </header>

                        {% if page.date %}
                        <span class="publish-date">
                            <i class="material-icons vertical-center">update</i>
                            {{ page.date }}
                        </span>
                        <hr>
                        {% endif %}
                        <p>
                            <a class="button tag-button" href="{{ base_url }}/{{ page.id | split("/")[0] }}">{{ page.id | split("/")[0] | sistemo_to_hats }}</a>
                        </p>

                        <p class="content-preview">
                            {{ page.id | content | striptags | slice(0, 120) }}&#8230;
                            [<a href="{{ page.url }}">Read More</a>]
                        </p>
                    </article>
                </div>

                {% set n_pages_shown = n_pages_shown + 1 %}
            {% endif %}
        {% endfor %}
        </div>
    {% endblock %}
{% endembed %}