<!DOCTYPE html>
<html>
    <head>
        <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
        {% endif %}
        {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
        {% endif %}

        <link rel="shortcut icon" href="{{ theme_url }}/favicon.png">

        <link rel="stylesheet" href="//unpkg.com/picnic">
        <link rel="stylesheet" href="{{ theme_url }}/css/style.css">
        <link rel="stylesheet" href="{{ theme_url }}/css/socicon/style.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;family=Raleway&amp;family=Lora&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <script type="text/javascript">
            var _paq = window._paq = window._paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//analizilo.up-esperas.org/";
                _paq.push(['setTrackerUrl', u+'mat'+'omo.php']);
                _paq.push(['setSiteId', '2']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.src=u+'mat'+'omo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
    </head>
    <body>
        <nav id="main-nav">
            <a class="brand" href="{{ base_url }}">
                <img class="logo" alt="Logo" src="{{ theme_url }}/favicon.png">
                La Filipina Espero
            </a>

            <input id="bmenub" class="show" type="checkbox">
            <label class="burger pseudo button" for="bmenub"><i class="material-icons">menu</i></label>

            <div class="menu">
                {% for page in pages if page.title and not page.hidden %}
                    {% set pageDepth = page.id|split('/')|length %}
                    {% if (pageDepth == 2) and (page.id ends with "/index") or (pageDepth == 1) %}

                <a class="button {% if page.id == current_page.id %}selected-nav{% else %} pseudo-nav{% endif %}" href="{{ page.url }}">{{ page.title }}</a>
                    {% endif %}
                {% endfor %}
                
            </div>
        </nav>

        <main>
            {% block main_content %}
            {% endblock %}

        </main>

        <footer id="main-footer">
            <div class="content flex one two-600">
                <div>
                    <h2>Contact</h2>
                    <div class="flex two">
                        <div class="sixth">
                            <i class="material-icons">pin_drop</i>
                        </div>
                        <div class="four-fifth">
                            PH 228-A<br>
                            University of the Philippines<br>
                            Diliman, Quezon City<br>
                            Philippines<br>
                            1101
                        </div>
                    </div>
                    <div class="flex two">
                        <div class="sixth">
                            <i class="material-icons">email</i>
                        </div>
                        <div>
                            up [punkto] esperas [heliko] gmail [punkto] com
                        </div>
                    </div>
                    <div class="flex two">
                        <div class="sixth">
                            <i class="socicon socicon-facebook"></i>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/UPEsperas/" target="_blank">UPEsperas</a>
                        </div>
                    </div>
                    <div class="flex two">
                        <div class="sixth">
                            <i class="socicon socicon-twitter"></i>
                        </div>
                        <div>
                            <a href="https://twitter.com/UPEsperas/" target="_blank">@UPEsperas</a>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Links</h2>
                    <ul class="no-bullets">
                        <li><a href="https://www.up-esperas.org/" target="_blank">Home</a></li>
                        <li><a href="{{ base_url }}/podkastoj/rss">Podcast Feed</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy flex two">
                <span>
                    &copy; UP Esperas 2018
                </span>
                <span class="right-text">
                    &nbsp;
                </span>
            </div>
        </footer>
    </body>
</html>