{% embed "index.twig" %}
    {% block before_content %}
		<h1>Pages Tagged with "{{ meta.tags }}"</h1>

		<div class="flex one three-1000">
		{% for tagged_page in meta.pages_with_tag %}
			<div>
				<article class="card">
				{% if tagged_page.thumb_url %}
					<a href={{ page.url }}>
						<img alt={{ tagged_page.title }} src='{{ base_url }}/assets{{ tagged_page.thumb_url }}'>
					</a>
				{% endif %}

					<header>
						<a href={{ tagged_page.url }}><h3>{{ tagged_page.title }}</h3></a>
					</header>
					<p>
						{{ tagged_page.id | content | striptags | slice(0, 150) }}
						[<a href="{{ tagged_page.url }}">Read More</a>]
					</p>
				</article>
			</div>
		{% endfor %}
		</div>
    {% endblock %}
{% endembed %}